@inject VehicleState VehicleState 

<button class="btn btn-primary" @onclick="SelectVehicle">@name</button>

@code {
    private string name = "Sedan";

    void SelectVehicle()
    {
        VehicleState.SetVehicle(name);
    }
}
